USE [master]
GO
/****** Object:  Database [hovid]    Script Date: 6/26/2026 9:08:20 AM ******/
CREATE DATABASE [hovid]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'hovid', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\hovid.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'hovid_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\hovid_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [hovid].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [hovid]
GO
/****** Object:  Table [dbo].[tbUser]    Script Date: 6/26/2026 9:08:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbUser](
	[UserID] [bigint] IDENTITY(0,1) NOT NULL,
	[UserName] [varchar](20) NOT NULL,
	[UserNo] [int] NOT NULL,
	[CreateDate] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tbUser] ADD  DEFAULT (getdate()) FOR [CreateDate]
GO
/****** Object:  StoredProcedure [dbo].[sp_tbUser_Create]    Script Date: 6/26/2026 9:08:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_tbUser_Create]
    @UserName VARCHAR(20),
    @UserNo INT
AS
BEGIN
    INSERT INTO tbUser
    (
        UserName,
        UserNo
    )
    VALUES
    (
        @UserName,
        @UserNo
    )
END
GO
/****** Object:  StoredProcedure [dbo].[sp_tbUser_Delete]    Script Date: 6/26/2026 9:08:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_tbUser_Delete] @UserID BIGINT
AS
BEGIN
	DELETE FROM tbUser WHERE UserID=@UserID
END
GO
/****** Object:  StoredProcedure [dbo].[sp_tbUser_Read]    Script Date: 6/26/2026 9:08:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_tbUser_Read]
AS
BEGIN
	SELECT * FROM tbUser ORDER BY UserID
END
GO
/****** Object:  StoredProcedure [dbo].[sp_tbUser_Update]    Script Date: 6/26/2026 9:08:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_tbUser_Update] @UserID BIGINT, @UserName VARCHAR(20), @UserNo INT, @CreateDate DATETIME
AS
BEGIN
	UPDATE tbUser SET UserName=@UserName, UserNo=@UserNo, CreateDate=@CreateDate WHERE UserID=@UserID
END
GO
USE [master]
GO
